@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
   background-color: #001233;
   color: azure; 
}
.header{
    animation: moveGradient 5s linear infinite;
    background: linear-gradient(7deg, #8949CD, #3D3D8E, #0F172A);
    backdrop-filter: blur(5px); 
    height: 85vh;
    /* border-radius: 20px; */
    /* margin-top: 20px; */
    /* margin: 10px; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); */
}
.header, .header-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.2% 1%;
}

.header-container, .text-left{
    font-size: 1.6vw;
    font-weight: 700;
    line-height: 120%;
    flex-grow: 1;
}
.Nam{
    color: aqua;
}
.text-left h1{
    margin-bottom: 25px;
    font-family: "Anta",sans-serif;
    font-weight: bolder;
    font-size: 63px;
}
.text-left h2{
    margin-bottom: 20px;
    font-weight: bold;
}
.gap {
    display: block;
    height: 15px;
  }
.gap1 {
    display: block;
    height: 1px;
  }
.text-left h6{
    letter-spacing: 1px;
}
.text-left h4{
    margin-bottom: 15px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
    letter-spacing: 0.5px;
    font-weight: bold;
    animation: loading 3s 0s 1 both ease-in-out ;
}
.text-left h5{
    margin-bottom: 10px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 23px;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.text-left h3{
    color: greenyellow;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-family: "Anta",sans-serif;
    animation: loading 1.2s 0s 1 both ease-in-out ;
    font-weight: bold;
    font-size: 43px;
    
}
.text-left a{
    text-decoration: none;
}
.text-left a:hover{
    color: azure;
}
.header-container, .image-right{
    display: flex;
    flex-basis: 350px;
}
.image-right{
    padding: 2% 6%;
    padding-top: 4%;
    padding-bottom: 3%;
    display: flex;
}
.image-box{
    border-radius: 50%;
    border: 20px solid aqua;
    
}
.Images{
    border-radius: 50%;
    height: 400px;
    width: 400px;
    /* background-color: aqua; */
    transform: scale(1.1);
    transition-duration: 3s;
    border: 1px solid aqua;

}
.Images:hover{
    background: linear-gradient(to right, #6556BE, #aa9ceb);
    animation: moveGradient 3s linear infinite;
    box-shadow: 0 0 20px rgba(116, 97, 223, 0.5);
    transform: scale(1.2);
   transition-duration: 5s;   
}

.bts {
    /* background: linear-gradient(to right, #6556be, #aa9ceb); */
     /* Text color */
    display: flex;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 0 15px rgba(101, 86, 190, 0.7); /* Initial box shadow */
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 30px;
    margin-left: 60%;
    background-color: greenyellow;
    border: 3px solid #2FADFF; /* Red Color #f80606 */
}

.bts:hover {
    background: linear-gradient(to left, #6556BE, #aa9ceb);
    box-shadow: 0 0 25px rgba(124, 104, 240, 0.9);
    border: 3px solid #00ffff; 
}
.text-left h1,
.text-left h2,
.text-left h3,
.text-left h4,
.text-left h5,
.text-left h6 {
    opacity: 0;
    animation: loading 1.2s 0s forwards ease-in-out;
}

.text-left h2 {
    animation-delay: 0.2s; 
}

.text-left h3 {
    animation-delay: 0.4s;
}

.text-left h4 {
    animation-delay: 0.6s; 
}

.text-left h5 {
    animation-delay: 0.8s; 
}

.text-left h6 {
    animation-delay: 1s; 
}


@keyframes loading {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moveGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 480px) {
    .header{
        height: 119vh;
    }
    .header-container, .text-left{
        font-size: 16px;
    }   
    .bts {
        font-size: 16px;
        margin-left: 30%;
        padding-bottom: 10px;
    }
    .text-left h1{
        margin-top: 20px;
        text-align: center;
        font-size: 40px;
    }
    .text-left h3{
        font-size: 30px;
        text-align: center;
    }
    .image-right{
        justify-content: center;
        margin-top: 20%;
        padding-bottom: 34%;
        /* padding-left: 1%;
        padding-right: 1%; */
    }
    .Images{
        height: 280px;
        width: 280px;
    }
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .header{
        height: 152vh;
    }
    .header-container, .text-left{
        font-size: 18px;
    }   
    .bts {
        font-size: 18px;
        margin-left: 40%;
        padding-bottom: 10px;
    }
    .text-left h1{
        margin-top: 50px;
        text-align: center;
        font-size: 50px;
    }
    .text-left h3{
        font-size: 40px;
        text-align: center;

    }
    .image-right{
        justify-content: center;
        margin-top: 20%;
        padding-bottom: 34%;
        /* padding-left: 1%;
        padding-right: 1%; */
    }
    .Images{
        height: 350px;
        width: 350px;
    }
  }
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .header{
        height: 151vh;
    }
    .header-container, .text-left{
        font-size: 19px;
    }   
    .bts {
        font-size: 19px;
        margin-left: 40%;
        padding-bottom: 5px;
    }
    .text-left h1{
        margin-top: 50px;
        text-align: center;
        font-size: 60px;
    }
    .text-left h3{
        font-size: 53px;
        text-align: center;
    }
    .image-right{
        justify-content: center;
        margin-top: 15%;
        padding-bottom: 14%;
        /* padding-left: 2%;
        padding-right: 2%; */
    }
  }



